<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFMXVDMy4XyMlpoQ5MWP34UMgCWajVEfw</string>
	<key>GCM_SENDER_ID</key>
	<string>56956781467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseConnectivity.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>conwithfirebase-5e24f</string>
	<key>STORAGE_BUCKET</key>
	<string>conwithfirebase-5e24f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56956781467:ios:15264adc1fa82e0bb0573e</string>
</dict>
</plist>